In [203]:
import pandas as pd
from sklearn.datasets import load_breast_cancer

In [204]:
data = pd.read_csv('heart.csv')
#data.info()
dataset = pd.DataFrame(data=data, columns=data.columns)
dataset

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [205]:
from sklearn.model_selection import train_test_split
y = data['output']
x = dataset.copy()
x = x.drop(columns=['output'])
print(x)

#y = []
# initial = {"cancerous": 0, "not cancerous": 0}
# result = {"cancerous": 0, "not cancerous": 0}
# for i in range(len(temp_y)):
#     y.append(temp_y[i])
    
# for i in range(len(y)):
#     if y[i] == 0:
#         y[i] = "Not Cancerous"
#         initial["not cancerous"] += 1
#     else:
#         y[i] = "Cancerous"
#         initial["cancerous"] += 1


X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33)

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0     63    1   3     145   233    1        0       150     0      2.3    0
1     37    1   2     130   250    0        1       187     0      3.5    0
2     41    0   1     130   204    0        0       172     0      1.4    2
3     56    1   1     120   236    0        1       178     0      0.8    2
4     57    0   0     120   354    0        1       163     1      0.6    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
298   57    0   0     140   241    0        1       123     1      0.2    1
299   45    1   3     110   264    0        1       132     0      1.2    1
300   68    1   0     144   193    1        1       141     0      3.4    1
301   57    1   0     130   131    0        1       115     1      1.2    1
302   57    0   1     130   236    0        0       174     0      0.0    1

     caa  thall
0      0      1
1      0      2
2      0      2
3      0      2
4      0      2
..   ...    ...
298    0      3
299    0      3
300    2      3
301    1      3
302    1      2

[303 rows x 13 columns]

In [206]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [207]:
clf.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [208]:
predictions = clf.predict(X_test)
print(predictions)

# for i in range(len(predictions)):
#     if predictions[i] == 'Cancerous':
#         result["cancerous"] += 1
#     else:
#         result["not cancerous"] += 1

[0 1 0 1 1 0 0 0 1 1 0 0 1 0 1 1 1 0 0 1 1 1 1 0 0 1 1 1 1 0 1 0 1 1 1 1 1
 0 0 1 1 1 1 0 1 0 1 0 1 1 1 0 1 0 0 1 0 1 1 0 1 1 1 0 1 0 1 0 1 0 1 0 0 0
 0 0 0 1 1 0 0 1 0 0 1 1 0 0 1 1 0 0 1 1 1 1 0 1 1 0]

In [209]:
y_test

223    0
55     1
204    0
125    1
137    1
      ..
34     1
231    0
53     1
161    1
176    0
Name: output, Length: 100, dtype: int64

In [210]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.82

In [211]:
# print("initial:")
# print(initial)

In [201]:
# print("result:")
# print(result)

In [202]:
print(len(y_test))

100